.rs-footer {
  padding-bottom: 20px;
}
.rs-footer__wrapper {
  background: #f4f7f8;
}
@media (min-width: 991.98px) {
  .rs-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__info {
    grid-column: 1/8;
    padding: 60px 0px 60px 60px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-footer__info {
    padding: 40px 0px 40px 40px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-footer__info {
    padding: 20px 0px 20px 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__info {
    padding: 16px;
  }
}
.rs-footer__spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  gap: 20px;
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers {
    margin-top: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-footer__spollers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-footer__spollers_item {
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(1) {
    max-width: 255px;
  }
  .rs-footer__spollers_item:nth-child(2) {
    max-width: 150px;
  }
  .rs-footer__spollers_item:nth-child(3) {
    max-width: 270px;
  }
}
.rs-footer__spollers_body {
  margin-top: 12px;
}
.rs-footer__menu .menu__list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6f6f6f;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.rs-footer__menu .menu__list li:not(:last-child) {
  margin-bottom: 12px;
}
@media (any-hover: hover) {
  .rs-footer__menu .menu__list li:hover {
    color: var(--primary-color);
  }
}
.rs-footer__contact {
  padding: 36px 0px;
  border-top: 1px solid #d0d0ce;
  border-bottom: 1px solid #d0d0ce;
}
@media (max-width: 1439.98px) {
  .rs-footer__contact {
    padding: 24px 0px;
  }
}
.rs-footer__contact > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .rs-footer__contact > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-footer__contact > ul li {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-color);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1599.98px) {
  .rs-footer__contact > ul li {
    font-size: 19px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__contact > ul li {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__contact > ul li {
    font-size: 17px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__contact > ul li {
    font-size: 16px;
  }
}
.rs-footer__contact > ul li span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6f6f6f;
  display: block;
  margin-bottom: 10px;
}
@media (any-hover: hover) {
  .rs-footer__contact > ul li:hover {
    color: var(--second-color);
  }
}
@media (min-width: 1439.98px) {
  .rs-footer__contact > ul li:last-child {
    width: 100%;
    max-width: 270px;
  }
}
.rs-footer__contact > ul li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-footer__contact > ul li > ul li:not(:last-child) {
  margin: 0px;
  margin-right: 15px;
}
.rs-footer__contact > ul li > ul li a {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__contact > ul li > ul li a:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.rs-footer__bottom {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  color: #6f6f6f;
}
@media (max-width: 1439.98px) {
  .rs-footer__bottom {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .rs-footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-footer__bottom a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .rs-footer__bottom a:hover {
    text-decoration: none;
  }
}
@media (min-width: 1439.98px) {
  .rs-footer__link {
    width: 100%;
    max-width: 270px;
  }
}
@media (max-width: 767.98px) {
  .rs-footer__link {
    margin-top: 10px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__block {
    grid-column: 8/13;
    padding: 60px 60px 60px 0px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-footer__block {
    padding: 40px 40px 40px 0px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-footer__block {
    padding: 20px 20px 20px 0px;
  }
}
.rs-footer__block_body {
  position: relative;
  height: 100%;
  z-index: 1;
}
.rs-footer__block_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 40px;
}
@media (max-width: 1599.98px) {
  .rs-footer__block_content {
    padding: 30px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__block_content {
    padding: 20px;
  }
}
.rs-footer__block_desc {
  margin-top: 20px;
}
.rs-footer__block_desc h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  margin-bottom: 20px;
}
@media (max-width: 1599.98px) {
  .rs-footer__block_desc h3 {
    font-size: 35px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__block_desc h3 {
    font-size: 30px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__block_desc h3 {
    font-size: 25px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__block_desc h3 {
    font-size: 20px;
  }
}
.rs-footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-footer__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-footer__logo {
  width: 100%;
  max-width: 170px;
}
.rs-footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}