@import "base/_mixin";

.rs-header {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0px 9px;
	transition:
		transform 0.36s ease-in-out,
		border-color 0.36s ease-in-out,
		border-radius 0.36s ease-in-out;
	border-bottom: 1px solid transparent;

	&._header-scroll {
		background-color: #fff;
		border-color: #d0d0ce;
		pointer-events: none;
	}

	&._header-show {
		pointer-events: unset;
	}

	@media (max-width: 1599.98px) {
		padding: 15px 0px;
	}

	@media (max-width: 767.98px) {
		padding: 8px 0px;
		border-radius: 0px 0px 15px 15px;

		.menu-open & {
			border-radius: 0;
		}
	}

	@media (min-width: 991.98px) {
		.lock & {
			padding-right: 5px;
		}
	}

	// .rs-header__container
	&__container {
	}

	// .rs-header__wrapper
	&__wrapper {
		display: flex;
		align-items: center;

		@media (min-width: 991.98px) {
			position: relative;
		}
	}

	// .rs-header__logo
	&__logo {
		background-color: var(--primary-color);
		border-radius: 10px;
		width: 100%;
		max-width: 270px;

		@media (max-width: 1599.98px) {
			max-width: 200px;
		}

		@media (max-width: 1439.98px) {
			max-width: 150px;
		}

		@media (max-width: 1169.98px) {
			max-width: 120px;
		}

		@media (max-width: 991.98px) {
			order: 1;
			max-width: 146px;
			border-radius: 6px;
		}

		@media (max-width: 767.98px) {
			max-width: 118px;
			border-radius: 5px;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	// .rs-header__menu
	&__menu {
		display: flex;
		align-items: center;

		@media (min-width: 991.98px) {
			margin-left: 30px;
			max-width: 963.54px;
			margin-right: 15px;

			@media (max-width: 1599.98px) {
				margin-left: 15px;
				max-width: 753.54px;
			}

			@media (max-width: 1439.98px) {
				max-width: 635.54px;
			}

			@media (max-width: 1169.98px) {
				max-width: 522.54px;
			}
		}

		@media (max-width: 991.98px) {
			order: 3;
			margin-left: 16px;
		}

		@media (max-width: 767.98px) {
			margin-left: 5px;
		}

		.menu {
			// .menu__icon
			&__icon {
				display: flex;
				align-items: center;
				padding: 12px 17px;
				border-radius: 5px;
				background-color: var(--primary-color);
				transition: all 0.3s ease 0s;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					padding: 8px 16px;
				}

				&_svg {
					flex: 0 0 14px;
					display: flex;
					align-items: center;
					justify-content: center;

					svg {
						width: 100%;
						height: 100%;

						path {
							stroke: #fff;
							transition: all 0.3s ease 0s;
						}
					}
				}

				// .menu__icon_text
				&_text {
					margin-left: 4px;
					font-weight: 500;
					font-size: 14px;
					// line-height: 22px;
					line-height: 160%;
					color: #fff;

					@media (max-width: 767.98px) {
						font-size: 13px;
					}

					span {
						&:first-child {
							display: block;
						}

						&:last-child {
							display: none;
						}
					}
				}

				.menu-open & {
					.menu__icon {
						&_svg {
							svg {
								path {
									&:nth-child(1) {
										transform: rotate(-45deg) translateY(3px) translateX(-7.5px);
									}

									&:nth-child(2) {
										opacity: 0;
									}

									&:nth-child(3) {
										transform: rotate(45deg) translateY(-11px) translateX(3.5px);
									}
								}
							}
						}

						&_text {
							span {
								&:first-child {
									display: none;
								}

								&:last-child {
									display: block;
								}
							}
						}
					}
				}
			}

			// .menu__block
			&__block {
				@media (max-width: 991.98px) {
					position: absolute;
					width: 100%;
					max-height: calc(100vh - 76px);
					// min-height: calc(100vh - 76px);
					top: 100%;
					left: 0;
					transform: translateX(-100%);
					overflow-y: auto;
					overflow-x: hidden;
					border-radius: 0 0 5px 5px;
					background-color: #fff;
					transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
					z-index: 99;
					display: flex;
					flex-direction: column;
					align-items: center;
					scrollbar-width: none;

					.menu-open & {
						transform: translateX(0%);
					}

					& > * {
						padding: 20px 36px;
						width: 100%;
					}
				}

				@media (max-width: 767.98px) {
					max-height: calc(100vh - 53px);
					// min-height: calc(100vh - 53px);

					& > * {
						padding-left: 16px;
						padding-right: 16px;
					}
				}
			}

			// .menu__body
			&__body {
			}

			// .menu__list
			&__list {
				@media (min-width: 991.98px) {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 18px 34px;

					@media (max-width: 1599.98px) {
						gap: 10px 20px;
					}

					@media (max-width: 1169.98px) {
						gap: 10px;
					}
				}

				li {
					position: relative;
					font-weight: 500;
					font-size: 25px;
					color: #6f6f6f;

					@media (max-width: 1599.98px) {
						font-size: 20px;
					}

					@media (max-width: 1439.98px) {
						font-size: 16px;

						svg,
						img {
							width: 28px;
							height: 28px;
						}
					}

					@media (max-width: 1169.98px) {
						font-size: 14px;

						svg,
						img {
							width: 24px;
							height: 24px;
						}
					}

					@media (max-width: 991.98px) {
						font-weight: 500;
						font-size: 15px;
						// line-height: 19px;
						line-height: 130%;
						color: #191919;

						svg,
						img {
							width: 20px;
							height: 20px;
						}

						&:not(:last-child) {
							margin-bottom: 20px;
						}
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						transition: all 0.3s ease 0s;
					}

					svg,
					img {
						margin-right: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					& > button,
					& > i {
						display: inline-block;
						width: 12px;
						height: 12px;
						position: absolute;
						top: 4px;
						right: 0px;
						z-index: 10;

						@media (min-width: 991.98px) {
							display: none;
						}

						&::before {
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							background-image: url("../img/caret-right.svg");
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
							transition: all 0.3s ease 0s;
						}
					}

					&.menu-catalog {
						color: #000;
						order: 1;

						@media (min-width: 991.98px) {
							position: static;
							padding: 30px 0px;
							margin: -30px 0px;
						}

						ul {
							@media (min-width: 991.98px) {
								display: block;
								width: 100%;
								background: transparent;
								border-radius: 0px;
								padding: 0px;
							}

							li {
								@media (min-width: 991.98px) {
									padding: 0;

									a {
										padding: 0;
									}
								}

								svg,
								img {
									flex-shrink: 0;
								}

								@media (any-hover: hover) {
									&:hover {
										& > a {
											background-color: transparent;
											color: #000;
										}
									}
								}

								a {
									display: flex;

									@media (any-hover: hover) {
										&:hover {
											background-color: transparent;
											color: var(--primary-color);
										}
									}
								}
							}
						}

						& > ul {
							@media (min-width: 991.98px) {
								width: 100%;
								top: calc(100% + 5px);
								display: flex;
								flex-wrap: wrap;
								align-items: flex-start;
								gap: 50px 30px;
								background: #f4f7f8;
								border-radius: 7px;
								padding: 40px;
								max-height: calc(100vh - 150px);
								// min-height: calc(100vh - 76px);
								overflow-y: auto;
								overflow-x: hidden;

								@include responsive-auto(row-gap, (50, 20), (1599.98, 1439.98, 1169.98));
								@include responsive-auto(column-gap, (30, 15), (1599.98, 1439.98, 1169.98));
								@include responsive-auto(padding, (40, 20), (1599.98, 1439.98, 1169.98));

								& > li {
									flex: 0 0 calc(25% - (30px * 3 / 4));
									font-size: 20px;
									color: #000;

									@include responsive-auto(font-size, (20, 14), (1599.98, 1439.98, 1169.98));

									@media (max-width: 1169.98px) {
										flex: 0 0 calc(50% - (30px * 2 / 4));
									}
								}
							}

							& > li {
								& > ul {
									@media (min-width: 991.98px) {
										position: relative;
										top: 0;
										left: 0;
										width: 100%;
										padding-top: 20px;
										padding-left: 42px;
										opacity: 1;
										visibility: visible;
										transform: translate(0, 0);

										@include responsive-auto(padding-top, (20, 10), (1599.98, 1439.98, 1169.98));
										@include responsive-auto(padding-left, (42, 20), (1599.98, 1439.98, 1169.98));

										li {
											font-size: 18px;
											color: #86898c;

											@include responsive-auto(font-size, (18, 14), (1599.98, 1439.98, 1169.98));

											&:not(:last-child) {
												margin-bottom: 20px;
											}
										}
									}
								}
							}
						}
					}
				}

				& > li {
					@media (min-width: 991.98px) {
						margin: -17px 0px;
						padding: 17px 0px;
					}

					@media (any-hover: hover) {
						&:hover {
							& > a {
								color: var(--primary-color);
							}
						}
					}
				}
			}

			// .menu__dropdown
			&__dropdown {
				@media (min-width: 991.98px) {
					@media (any-hover: hover) {
						&:hover {
							& > ul {
								opacity: 1;
								visibility: visible;
								transform: translateY(0px);
								pointer-events: unset;
							}
						}
					}

					&._open-menu {
						& > ul {
							opacity: 1;
							visibility: visible;
							transform: translateY(0px);
							pointer-events: unset;
						}
					}
				}

				@media (max-width: 991.98px) {
					&._open-menu {
						& > i,
						& > button {
							&::before {
								transform: rotate(-90deg);
							}
						}
					}
				}

				// .menu__dropdown_list
				&_list {
					@media (min-width: 991.98px) {
						position: absolute;
						z-index: 99;
						transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
						display: block;
						top: 100%;
						left: 0px;
						width: 275px;
						transform: translateY(10px);
						opacity: 0;
						visibility: hidden;
						background: #f4f7f8;
						border-radius: 7px;
						padding: 20px 0px;
						pointer-events: none;

						li {
							padding: 0px 20px;
							color: #191919;

							& > .menu__dropdown_list {
								top: 0;
								left: 100%;
							}

							& > a {
								padding: 10px 20px;
								border-radius: 5px;
								font-weight: 500;
								font-size: 22px;

								@media (max-width: 1599.98px) {
									font-size: 20px;
								}

								@media (max-width: 1439.98px) {
									font-size: 16px;
								}
							}

							@media (any-hover: hover) {
								&:hover {
									& > a {
										color: #fff;
										background-color: var(--primary-color);
									}
								}
							}
						}
					}

					@media (max-width: 991.98px) {
						padding: 20px 0px 10px 30px;

						li {
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}
			}

			// .menu__contact
			&__contact {
				padding: 20px 36px;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					padding-left: 16px;
					padding-right: 16px;
				}

				h6 {
					font-weight: 600;
					font-size: 15px;
					// line-height: 19px;
					line-height: 130%;
					color: #0b0f19;
					margin-bottom: 20px;
				}

				ul {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 20px;

					li {
						flex: 0 0 50%;

						&:not(:last-child) {
							margin: 0px;
						}

						svg {
							margin-right: 5px;
							flex: 0 0 14px;
						}
					}
				}
			}

			&__search {
				padding: 20px 36px;
				background: #f4f7f8;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					padding-left: 16px;
					padding-right: 16px;
				}
			}

			// .menu__social
			&__social {
				background: #f4f7f8;
				padding: 20px 36px;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					padding-left: 16px;
					padding-right: 16px;
				}

				ul {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;

					li {
						&:not(:last-child) {
							margin: 0px;
							margin-right: 46px;
						}

						a {
							width: 100%;
							flex-shrink: 0;
							width: 40px;
							height: 40px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							background-color: var(--primary-color);
						}

						svg {
							margin-right: 0px;
						}
					}
				}
			}
		}
	}

	// .rs-header__block
	&__block {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media (min-width: 991.98px) {
			width: 100%;
			margin: 0px 0px 0px auto;
			max-width: 399px;

			@media (max-width: 1439.98px) {
				max-width: 300px;
			}

			@media (max-width: 1169.98px) {
				max-width: 250px;
			}
		}

		@media (max-width: 991.98px) {
			order: 2;

			.rs-header__search {
				display: none;
			}
		}
	}

	.search {
		width: 100%;

		@media (min-width: 991.98px) {
			max-width: 400px;
		}

		// .search__wrapper
		&__wrapper {
			width: 100%;
			height: 100%;
		}

		// .search__form
		&__form {
			width: 100%;
			height: 100%;
		}

		// .search__block
		&__block {
			width: 100%;
			height: 100%;
		}

		// .search__line
		&__line {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 3px 3px 3px 16px;
			border-radius: 5px;
			background-color: #fff;

			@media (min-width: 991.98px) {
				padding: 5px 5px 5px 20px;
				border-radius: 7px;
				background-color: #f4f7f8;
			}
		}

		// .search__input
		&__input {
			flex-grow: 1;
			height: 100%;
			background-color: transparent;
			font-weight: 400;
			font-size: 14px;
			color: var(--font-color);

			&::placeholder {
				color: #6f6f6f;
			}
		}

		// .search__submit
		&__submit {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 40px;
			height: 40px;
			margin-left: 6px;
			border-radius: 5px;
			background-color: var(--primary-color);

			svg {
				width: 18px;
				height: 18px;
			}

			@media (min-width: 991.98px) {
				width: 43px;
				height: 43px;

				svg {
					width: 25px;
					height: 25px;
				}
			}
		}
	}

	// .rs-header__actions
	&__actions {
		display: flex;
		align-items: center;

		@media (min-width: 991.98px) {
			margin-top: 10px;
		}

		@media (max-width: 991.98px) {
			flex-direction: row-reverse;
		}
	}

	// .rs-header__phone
	&__phone {
		@media (min-width: 991.98px) {
			font-weight: 700;
			font-size: 19px;
			letter-spacing: 0.03em;
			color: #191919;
			margin-right: 86px;
			transition: color 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				margin-right: 30px;
				font-size: 16px;
			}

			@media (max-width: 1169.98px) {
				font-size: 14px;
				margin-right: 15px;
			}
		}

		@media (max-width: 991.98px) {
			width: 46px;
			height: 46px;
			flex-shrink: 0;
			border-radius: 5px;
			background-color: var(--primary-color);
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 16px;

			span {
				display: none;
			}
		}

		@media (max-width: 767.98px) {
			display: none;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--primary-color);
			}
		}

		svg {
			@media (min-width: 991.98px) {
				display: none;
			}
		}
	}

	// .rs-header__action
	&__action {
		// .rs-header__action_list
		&_list {
			display: flex;
			align-items: center;

			li {
				&:not(:last-child) {
					margin-right: 11px;

					@media (max-width: 991.98px) {
						margin-right: 16px;
					}

					@media (max-width: 767.98px) {
						margin-right: 5px;
					}
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;
					padding: 12.5px;
					border-radius: 5px;
					background-color: #f4f7f8;
					position: relative;
					transition: background-color 0.3s ease 0s;

					@media (max-width: 1439.98px) {
						padding: 10px;
					}

					@media (max-width: 991.98px) {
						width: 46px;
						height: 46px;
						padding: 0;
					}

					@media (max-width: 767.98px) {
						width: 37px;
						height: 37px;
					}

					@media (any-hover: hover) {
						&:hover {
							background-color: var(--primary-color);

							path,
							circle {
								stroke: #fff;
							}
						}
					}

					.badge {
						position: absolute;
						top: 13px;
						left: 26px;
						font-weight: 600;
						font-size: 12px;
						color: #fff;
						border-radius: 28px;
						padding: 1px 3px;
						background-color: var(--primary-color);

						@media (max-width: 1439.98px) {
							left: 16px;
							top: 10px;
						}

						@media (max-width: 767.98px) {
							font-size: 9px;
							top: 9px;
							left: 14px;
						}
					}

					svg {
						width: 28px;
						height: 28px;

						@media (max-width: 1439.98px) {
							width: 24px;
							height: 24px;
						}

						@media (max-width: 767.98px) {
							width: 20px;
							height: 20px;
						}

						path,
						circle {
							transition: all 0.3s ease 0s;
						}
					}
				}
			}
		}
	}
}
